<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Driver JDBC -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>

        <!-- URL de conexión -->
        <property name="hibernate.connection.url">jdbc:h2:~/personas</property>

        <!-- Usuario y contraseña -->
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"/>

        <!-- Dialecto SQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Gestión del esquema -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Mostrar SQL en consola -->
        <property name="hibernate.show_sql">true</property>

        <!-- Formatear SQL -->
        <property name="hibernate.format_sql">true</property>

        <!-- Configuración del log de nivel SQL (opcional, para más detalle) -->
        <property name="hibernate.use_sql_comments">true</property>

        <!-- Activar el uso de transacciones -->
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="com.spachecor.ejerciciofinalsgecn.model.entity.Curso"/>
        <mapping class="com.spachecor.ejerciciofinalsgecn.model.entity.Estudiante"/>
        <mapping class="com.spachecor.ejerciciofinalsgecn.model.entity.Nota"/>
    </session-factory>
</hibernate-configuration>